* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #d4d9df;
}

.header {
  width:100vw;
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}