* {
  box-sizing: border-box;
  font-family: "Iosevka Charon", monospace;
  font-weight: 300;
  font-style: normal;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  width: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gallery .CV {
  background-image: url("./assets/old_paper.jpg");
  background-color: rgba(255, 255, 255, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
}

.gallery div {
  text-align: center;
  margin-top: 2vh;
  width: 60vw;
  font-size: x-large;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url("./assets/plaster_wall.jpg");
  background-blend-mode:lighten;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
  width:100%;
  margin: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}